# ignore Python build files
**/__pycache__/*
**/*.pyc
typings/*

# ignore environment variables
.env
.env.template

# ignore VS Code settings
**/.vscode

# ignore log file
*.log

# ignore test output
simulation_*.yaml

# ignore runtime configurations
configurations/*
manifests/*
simulations/*
